.outer-container {
  width: 80%;
  margin: auto;
  text-align: center;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

button {
  margin: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.quarter {
  border: 1px solid #ddd;
  padding: 10px;
}

.quarter-header {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.schedule-table {
  display: table;
  width: 100%;
  border-collapse: collapse;
}

.schedule-row {
  display: table-row;
}

.schedule-cell {
  display: table-cell;
  border: 1px solid #ddd;
  padding: 10px;
}

.period-cell {
  font-weight: bold;
  background-color: #f0f0f0;
}

.subject-button {
  background-color: #f0f0f0;
  border: 2px solid #ddd;
  border-radius: 20px;
  padding: 12px 20px;
  margin: 5px;
  cursor: pointer;
  font-size: 18px;
  text-align: center;
  transition: background-color 0.3s, transform 0.2s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.subject-button.active {
  background-color: red;
  color: #fff;
  border-color: red;
}

.subject-button:hover {
  background-color: #ddd;
  transform: scale(1.05);
}
